body{
    background-size: cover ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#intro{
    font-size: 15px;
    background-color: #4e4c4e;
    padding: 10px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: white;
    border-width: 2px;
}


.disk_speed{
    float: left;
}

.disk_speed img{
    width: 200px;
    border-radius: 100px;
}



.disk_volume{
    float: right;
}

.disk_volume img{
    width: 200px;
    border-radius: 100px;
}

#volume{
    font-size: 23px;
    margin: 15px;
}

#songna{
    font-size: 20px;
    background-color: #8f8f8f;
    width: 400px;
    padding: 5px;
    border-radius: 10px;
    color: black;
}